{% extends 'global/templates/base.html' %}
{% load static %}    
    

{% block title %}
    Atualizar E-mail ({{ user }})
{% endblock title %}

{% block content %}

<div class="form-container">

    <div class="update-error-message">
        {% include 'global/partials/messages.html' %}
    </div>

    <div class="container">

        <div class="form-top-header" style="margin-bottom: 4rem;">
            Atualizar <span style="color: #e76113">E-mail</span>
        </div>

        <form action="{% url 'register:update_email_create' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-container">
                    <div class="input-title">
                        {{ field.label }}
                    </div>    
                    
                    {{ field }}

                    
                    {% if field.errors %}
                        <div class="form-message-errors">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                
                </div>
            {% endfor %}
            
            {% if form.errors %}
                <div class="form-message-errors">
                    Por gentileza, identifique e corrija os erros presentes no formulário.
                </div>
            {% endif %}
                
            <div class="update-container-button">
                <button class="register-account-button" " type="submit">
                    Atualizar
                </button> 
                <a href="{% url 'register:dashboard' %}" class="cancel-button">
                    Cancelar
                </a>
            </div>
        </form>


    
    </div>
</div>
{% endblock %}